In [ ]:
stationary_buy_list = ["pencil case", 'marker pen', 'pencil sharpener']

In [ ]:
#1-1
stationary_buy_list.append('eraser')
print(stationary_buy_list)

['pencil case', 'marker pen', 'pencil sharpener', 'eraser']

In [ ]:
#1-2
stationary_buy_list.remove('pencil sharpener')
print(stationary_buy_list)

['pencil case', 'marker pen', 'eraser']

In [ ]:
#1-3
stationary_buy_list.insert(2,'ink pen')
print(stationary_buy_list)

['pencil case', 'marker pen', 'ink pen', 'eraser']

In [ ]:
#1-4
print(stationary_buy_list.count('ink pen'))

1

In [11]:
#2-1
movies = {'For Your Eyes Only': 449.4, 'Skyfall' : 943.5, 'Die Another Day': 465.4, 'A View to a Kill': 275.2}
movies['Specter'] = 725.5
print(movies)

{'For Your Eyes Only': 449.4, 'Skyfall': 943.5, 'Die Another Day': 465.4, 'A View to a Kill': 275.2, 'Specter': 725.5}

In [12]:
#2-2
movies['Golden Eye'] = movies.pop('For Your Eyes Only')
movies['Golden Eye'] = 518.5
print(movies)

{'Skyfall': 943.5, 'Die Another Day': 465.4, 'A View to a Kill': 275.2, 'Specter': 725.5, 'Golden Eye': 518.5}

In [13]:
#2-3
del movies["A View to a Kill"]
print(movies)

{'Skyfall': 943.5, 'Die Another Day': 465.4, 'Specter': 725.5, 'Golden Eye': 518.5}

In [14]:
#2-4
print(movies['Skyfall'])

943.5

In [15]:
#2-5
total = 0
for x in movies.values():
  total += x
print(total)

2652.9

In [16]:
#3-1
A = {'R', 'Python', 'Excel', 'Matlab', 'SAS', 'C#'}
B = {'Python', 'HTML', 'CSS', 'C++', 'Excel'}
print(A & B)

{'Python', 'Excel'}

In [17]:
#3-2
print(A | B)

{'HTML', 'Python', 'C#', 'C++', 'Matlab', 'R', 'CSS', 'SAS', 'Excel'}

In [18]:
#3-3
print((A - B) | (B - A))

{'C++', 'Matlab', 'R', 'HTML', 'CSS', 'SAS', 'C#'}

In [19]:
#4-1
import pandas as pd
d = {'English test scores' : [95, 97, 90, 97, 93, 85, 79, 89], 'English literature major': [0, 0, 1, 1, 1, 0, 0, 1]}
df = pd.DataFrame (data = d)
print(df)

   English test scores  English literature major
0                   95                         0
1                   97                         0
2                   90                         1
3                   97                         1
4                   93                         1
5                   85                         0
6                   79                         0
7                   89                         1

In [20]:
#4-2
grouped = df['English test scores'].groupby(df['English literature major'])
print(grouped.mean())

English literature major
0    89.00
1    92.25
Name: English test scores, dtype: float64

In [27]:
#5-1
import numpy as np
score = np.array([[96, 78, 88, 93, 90, 85, 78],[99, 74, 97, 79, 89, 90]])
print(score)

[list([96, 78, 88, 93, 90, 85, 78]) list([99, 74, 97, 79, 89, 90])]

<ipython-input-27-174a529b01af>:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  score = np.array([[96, 78, 88, 93, 90, 85, 78],[99, 74, 97, 79, 89, 90]])

In [32]:
#5-2
mean_list = [np.mean(x) for x in score]
print(mean_list)

[86.85714285714286, 88.0]

In [35]:
#6-1
def func(n):
  total = 0
  for x in range(1, n + 1):
    total += x
  return total

15

In [36]:
#6-2
print(func(10))

55

In [37]:
#7-1, 7-2
def sum_num2(n):
  odd = 0
  even = 0
  for i in range(1, 101):
    if i % 2 == 0:
      even = even + i
    if i % 2 == 1:
      odd = odd + i
  return even, odd
sum_num2(100)

(2550, 2500)